<header class="background">
    <div class="landing-title">
        <span class="border">
            <h1>{{title}}</h1>
            <p>The future is very bright. Please check back soon for</p>
            <a href="#" class="button">Something Awesome</a>
        </span>
    </div>
    
</header>

